body {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    justify-content: center;
}

/* основные элементы*/

.field {                /* участок */
    width: 90%;
    max-width: 1630px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    background-color: #62DA97;
    margin-left: 15px;
    margin-right: 15px;
    z-index: 1;
}

.container {            /* контейнер для груп растений */
    display: flex;
    
    justify-content: space-between;

    margin-bottom: 50px;
}


/* Пояснительное окно */

.descr_window {             /* Само окно */

    top: 30%;
    left: 20%;
    border: 1px solid black;
    position: absolute;
    display: none;  /* невидимое по умолчанию */
    justify-content: center;
    flex-direction: column;
    width: 600px;
    z-index: 9999;
    background-color: #fff;
 
}


.desc_tit {             /* заголовок пояснительного окна */
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    z-index: 9999;
}

.descr_photo {
    width: 100%;
}



/* Растения */

.plant_box {           /* блок растения */ 

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}



.plant_box:hover .descr_window {    /* при наведении на блок растения */
    display: flex;                  /* пояснительное окно видимеет */
}   



.bush {                 /* стили для куста */
    display: flex;
    position: relative;
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    z-index: 1;
}

.tree {              /* стили для дерева */ /* надо объединить с кустом */
    display: flex;
    position: relative;
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    z-index: 1;
}

.plant_text {  /* подписи к иконкам */
    width: 100px;
    font-size: 18px;
    text-align: center;
    display: none;      /* пока решено оставить невидимыми */
}



